@import "https://use.fontawesome.com/releases/v5.1.0/css/all.css";

/* Base Styles */
body, table, td, a, img {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    border-collapse: collapse !important;
    line-height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

/* Link adjustments */
a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.date-picker-container {
    order: 2; /* This will push the date picker below the table in the flex container */
    margin-top: 20px; /* Space between table and date picker */
    width: 100%; /* Adjust width as needed */
}

.table-responsive {
    order: 1; /* Ensures table comes first in the flow */
    width: 96%; /* Your existing width */
    margin-bottom: 20px; /* Ensure spacing */
    max-height: 500px; /* Adjust based on your preference */
    overflow-y: auto; /* Enables vertical scrolling */
}
.table-responsive table {
    padding: 10px 15px;
    width: 100%;
    table-layout: fixed;
}

.table-responsive th.id, .table-responsive td.id {
    height: 30px;
    width: 15%;
    padding-left: 2px;
}

.table-responsive th.name, .table-responsive td.name {
    width: 75%;
    padding-left: 2px;
}

.table-responsive th.checkbox, .table-responsive td.checkbox {
    width: 10%;
    text-align: center; /* Centers content horizontally in the cell */
}

/* Group titles and buttons */
.group-title, .log-button {
    margin-top: 20px;
}

/* Desktop Styles */
@media screen and (max-width: 1350px) {
    .wrapper, .table-max {
        max-width: 1000px;
    }
}

/* Mobile Styles */
@media screen and (max-width: 525px) {
    .wrapper {
        max-width: 100% !important;
    }

    .hide-element {
        display: none !important;
    }

    .mobile-btn-container, .mobile-btn {
        width: 100% !important;
        padding: 15px !important;
    }
}

/* iPad Styles */
@media handheld, all and (device-width: 768px) and (device-height: 1024px) {
    .wrapper-ipad, .table-max-assessments {
        max-width: 465px !important;
    }
}
